/* Primary Colors */

$primary-light: #facc15;
$primary-normal: #eab308;
$primary-dark: #a16207;

/* Success & Error */

$success-light: #bef264;
$success-normal: #84cc16;
$success-dark: #4d7c0f;

$error-light: #fca5a5;
$error-normal: #ef4444;
$error-dark: #991b1b;

/* text & backgrounds*/

$light-light: #f1f5f9;
$light-normal: #cbd5e1;

$dark-light: #334155;
$dark-normal: #1e293b;
$dark-dark: #0f172a;
